@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Didact Gothic', sans-serif;
}

body {
	background-color: #EAEAEA;
}

.auth-block {
	width: 25%;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#copy-1 {
	font-size: 14px;
    text-align: center;
    cursor: help;
}

nav {
	border-radius: 0px !important;
	position: fixed;
	height: 100%;
	max-width: 16%;
}

nav .logo {
	font-size: 20pt;
	margin-top: 12px;
    padding: 20px 0px;
    color: white;
}

nav .logo a {
	color: white;
}

.text-center {
	text-align: center;
}

.content {
    position: absolute;
    right: 1%;
    width: 82%;
    top: 1%;
    margin-bottom: 5%;
}

.title p{
	font-size: 15pt;
}

.field {
	margin-bottom: 10px;
}

.ui.popup {
	width: 150px !important;
}